:root {
  --primary-color: #005430; /* Main primary color */
  --secondary-color: #C7923E; /* Warm orange for buttons */
  --text-color: #515151; /* Text color for general content */
  --text-light-color: #9a9ab0; 
  --bg-light: #f5f5f5; 
  --lightbase-colorwhite: #ffffff; 
  --lighttext-link-colorwhite: #ffffff; /* White text color for links/buttons */
  --btn-radius: 25px; 
}
